header {
	background:url(images/header_bg.jpg) no-repeat;
	background-size:100%;
}
#home{
	background:url(images/home_hover.jpg) no-repeat;
	
	
}
#growth_bg{
	background:url(images/growth_bg.jpg) no-repeat;
	background-size:100%;
}
#t1{
	color:#7F9D07;
}
